<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>items</key>
  <array>
   <dict>
    <key>assets</key>
    <array>
     <dict>
      <key>kind</key>
      <string>software-package</string>
      <key>url</key>
      <string><![CDATA[https://c1031.lanosso.com/1a0d0b1840eb36c7d9ee2547bb0d0e94/673f8476/2024/09/17/a153e15737198d0e6814948cd0e4f652.ipa]]></string>
     </dict>
    </array>
    <key>metadata</key>
    <dict>
     <key>bundle-identifier</key>
     <string>com.aldb.ios.magic.199944</string>
     <key>bundle-version</key>
     <string>1</string>
     <key>kind</key>
     <string>software</string>
     <key>subtitle</key>
     <string>App subtitle</string>
     <key>title</key>
     <string>TrollInstallerX_1.0.3</string>
    </dict>
   </dict>
  </array>
 </dict>
</plist>
